.wrapper {
    box-shadow: 1px 1px 2px #ddd;
    position: relative;
    overflow: hidden;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 0.2em;
    padding: 0.3em 0.5em 0.2em 0.3em;
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    -ms-border-radius: 0.2em;
    -o-border-radius: 0.2em;
}

.input {
    outline: none;
    font-size: 1em;
    border: none;
    color: #333;
    padding: 0.2em 0;
    width: 100%;
    background: transparent;
    z-index: 20;
}
.autoSuggest {
    position: absolute;
    color: #ddd;
}

.zIndex10 {
    z-index: 10;
}

.icon {
    color: #333;
    font-size: inherit;
    padding: 0 0.5em;
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
}
.icon:hover {
    color: #555;
}
.icon:active {
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
}

.btn,
.btn:focus,
.btn:active {
    background: none;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    height: 100%;
}

.btn:active {
    filter: drop-shadow(0px 1px #ddd);
    -webkit-filter: drop-shadow(0px 1px #ddd);
}
.close {
    color: red;
    padding: 0 0.5em;
    font-size: 0.8em;
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
}
.close:hover {
    color: rgb(196, 8, 8);
}
.close:active {
    transform: scale(0.98);
    -webkit-transform: scale(0.98);
    -moz-transform: scale(0.98);
    -ms-transform: scale(0.98);
    -o-transform: scale(0.98);
}
.inputsWrapper {
    position: relative;
    display: flex;
    align-items: center;
}
.container {
    position: relative;
}

.borderAdjust {
    border-radius: 0.2em 0.2em 0 0;
    -webkit-border-radius: 0.2em 0.2em 0 0;
    -moz-border-radius: 0.2em 0.2em 0 0;
    -ms-border-radius: 0.2em 0.2em 0 0;
    -o-border-radius: 0.2em 0.2em 0 0;
    border-bottom: none;
}
